# ignore everything
*

# allow traversal into directories
!app/
!src/
!models/

# allow contents of required dirs
!app/**
!src/**

# allow ONLY final model
models/*
!models/bioclinicalbert_final/
!models/bioclinicalbert_final/**

# required files
!requirements-api.txt
!Dockerfile
!.gitignore
!.gcloudignore
!README.md
!LICENSE

# remove python cache everywhere
__pycache__/
*.pyc